body {
  background-size: cover;
  background-color: rgb(238, 238, 238);
  background: url("palmleave.jpg") no-repeat right fixed;
}

/* color: 57, 91, 82 */

.headings {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 20% 50%;
}

.logo {
  grid-column: 1;
  grid-row: 3;
}

#logo {
  max-width: 90%;
  height: 440px;
  padding-left: 10px;
}

h1 {
  grid-row: 1;
  grid-column: 1/3;
  justify-self: center;
  color: rgb(57, 91, 82);
  font-size: 80px;
  font-family: "Cookie", cursive;
  margin: 0;
}

h3 {
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  color: rgb(55, 90, 80);
  padding: 20px 6%;
  text-align: start;
  margin: 0;
  font-family: arial;
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.forms {
  grid-column: 2;
  justify-self: center;
}

.formContainer {
  height: 98%;
}

.form {
  align-self: center;
  display: flex;
  justify-content: center;
  width: 500px;
  height: 80%;
  padding: 40px 10px 0 10px;
}

.inputs {
  flex-wrap: wrap;
  height: auto;
  width: 300px;
}

.inputs > div {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 90%;
  border: 2px solid gray;
  /* background: transparent; */
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
  border-radius: 4px;
}

input:valid {
  background: white;
}

input + label {
  color: #999;
  font-size: 70%;
  position: absolute;
  color: #999;
}

input:focus + label {
  color: #999;
  font-size: 70%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
  bottom: 65%;
}

label {
  transition: color 0.2s bottom 0.2s, right 0.2s, left 0.2s;
  position: absolute;
  color: #999;
  padding: 7px 6px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 12px 6px 12px 12px;
}

label {
  bottom: 10%;
  left: 0;
  width: 100%;
  font-family: arial;
}

input:focus::placeholder {
  color: transparent;
}

input:focus {
  padding: 23px 6px 12px 6px;
}

.redirect {
  font-family: arial;
  font-size: 20px;
  width: auto;
  height: auto;
  color: rgb(57, 91, 82);
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.submitBtn {
  border-radius: 5vh;
  width: 98%;
  height: 30px;
  font-size: 15px;
  font-weight: bolder;
  background-color: teal;
}

.submitBtn:hover {
  cursor: pointer;
  background-color: #92644a;
}

/* .headRight {
  display: table-cell;
width: 30%;
vertical-align: middle;
} */

.headerProfile {
  display: table;
  width: 100%;
  background-color: rgb(60, 133, 131);
  border-bottom: solid 2px teal;
}

.headerProfile > div {
  display: table-cell;
  width: 30%;
  vertical-align: middle;
}

.menuLinksDiv {
  display: inline-table;
  float: left;
}

.picDiv {
  width: 10vh;
  display: flex;
  float: right;
  height: 10vh;
  margin-right: 1vw;
  justify-content: center;
  align-items: center;
  border-radius: 50vh;
  overflow: hidden;
}

.small {
  max-height: 100px;
  padding-left: 10px;
  width: auto;
}

#welcome {
  display: inline-block;
  text-align: left;
  color: rgb(36, 73, 84);
  /* color: teal; */
  font-size: 34px;
  font-family: "Cookie", cursive;
  width: 70%;
  font-weight: bolder;
}

.icon {
  width: 1vw;
  /* text-align: center; */
  display: inline-table;
  right: 9vw;
  top: 9vh;
  position: absolute;
}

.fa-caret-down:hover {
  cursor: pointer;
}

.menuBar {
  background-color: rgba(238, 238, 238, 0.9);
  width: 300px;
  height: 50px;
  z-index: 10;
  transition: all 0.5s ease-in-out 0.5s;
  position: absolute;
  border: solid 1px teal;
  /* border-radius: 10%; */
  list-style: none;
  display: flex;
  justify-content: space-around;
  right: 14vw;
  top: 9vh;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.headerMenuLinks {
  text-decoration: underline;
  vertical-align: center;
  font-family: arial;
  color: purple;
  font-size: 13px;
  font-weight: bolder;
  padding: 2% 10%;
  align-self: center;
}

.headerMenuLinks:hover {
  cursor: pointer;
}

.changeProfPic {
  font-size: 13px;
  text-align: center;
  padding-right: 4%;
  text-decoration: underline;
  color: purple;
}

#bioEdit {
  display: inline-block;
  font-family: arial;
  color: teal;
  font-size: 15px;
  text-align: right;
  margin-top: 8px;
  text-decoration: underline;
  color: blue;
}

#bioEdit:hover {
  cursor: pointer;
}

#profPic {
  height: 100px;
  margin-right: 5%;
  display: inline-block;
}

#profPic:hover {
  cursor: pointer;
}

.uploadModal {
  position: fixed;
  z-index: 20;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  left: 24vw;
  width: 50vw;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.9);
}

.uploadBox {
  width: 20vw;
  height: 50vh;
  margin-top: 10%;
}

.closeBtn {
  padding: 10px 10px;
  font-weight: bold;
  height: 20px;
  width: 30px;
}

.closeBtn:hover {
  cursor: pointer;
}

#modalImg {
  max-width: 20vw;
  height: 40vh;
  margin: 10px 0;
}

.userProf {
  display: grid;
  grid-template-columns: 30% 50% 20%;
  grid-template-rows: 60% 40%;
}

.profileBox {
  grid-column: 1;
  grid-row: 1;
  margin: 10px 10px;
  width: 50vh;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-image-source: url("./ivy.png"); */
  /* border-top: 10px solid transparent; */
  overflow: hidden;
  border-radius: 40%;
}

.bioBox {
  grid-row: 2;
  margin: 0px 5px;
  margin-left: 1vw;
  border: solid 1px teal;
  height: 24vh;
  border-radius: 1vh;
  padding: 0 1vw;
  /* background-image: url("./ivy.png"); */
}

#profPicBig {
  justify-self: center;
  align-self: center;
  max-height: 50vh;
  width: auto;
}

#profPicBig:hover {
  cursor: pointer;
}

.bioContent {
  padding-top: 1vh;
  font-family: arial;
  color: teal;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 15px;
}

textarea {
  width: 20vw;
  height: 20vh;
  font-family: arial;
  color: rgb(57, 91, 82);
  font-size: 15px;
}

#bioEdit {
  color: purple;
  cursor: pointer;
  font-weight: bold;
}

.bioText {
  padding-top: 1vh;
  font-family: arial;
  color: rgb(57, 91, 82);
  font-size: 14px;
  font-weight: bolder;
  width: 25vw;
  max-height: 34vh;
  white-spac: pre-line;
  text-align: justify;
}

.wall {
  grid-column: 2;
  grid-row: 1/3;
  width: 48vw;
  /* height: 50vh; */
  margin: 10px 10px;
  position: relative;
  /* border-style: solid; */
}

.wallPosts {
  font-family: arial;
  color: rgb(57, 91, 82);
  font-size: 20px;
  font-weight: bolder;
}

.commentTextarea {
  width: 400px;
  height: 50px;
}

.commentBox {
  margin-bottom: 10px;
}

#img {
  width: 20vw;
  margin: 5px 10px;
  border-radius: 3vh;
}

.commentsBox {
  /* border-style: inset; */
  width: 45vw;
  height: 53vh;
  overflow: scroll;
  position: relative;
  /* border-radius: 3vh; */
}
.userComments {
  border: 1px solid teal;
  border-radius: 1vh;
  width: 43vw;
  margin: 2vh 0;
  color: teal;
  background-color: rgb(234, 245, 239);
  font-family: arial;
}

.commentText {
  white-space: pre-line;
  /* font-weight: bolder; */
  padding: 5px 5px;
  font-size: 30px;
  font-family: cookie, cursive;
}

.userNameComment {
  padding: 5px 5px;
  display: inline-block;
}

.timeSent {
  display: inline-block;
  color: lightgrey;
  font-style: italic;
  font-size: 12px;
  margin-left: 5px;
}

.comBtn {
  border-radius: 3vh;
  background-color: teal;
  font-weight: bolder;
}

#comment {
  color: purple;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

#comUN {
  background-color: white;
  font-family: arial;
  color: rgb(57, 91, 82);
  font-size: 15px;
}

input[type="file"] {
  color: transparent;
  width: 130px;
}

.friends {
  float: right;
  font-weight: bold;
  font-family: arial;
  color: teal;
  font-size: 18px;
}

.list {
  display: block;
}

.friendshipBtn {
  border-radius: 5vh;
  width: 20vw;
  grid-column: 3;
  margin: 2vh 0;
  height: 6vh;
  font-size: 15px;
  font-weight: bolder;
  background-color: teal;
}

.friendshipBtn:hover {
  cursor: pointer;
  background-color: turquoise;
}

.profPicFriends {
  width: auto;
  height: 100px;
  border-radius: 20%;
}

.friendsWrapper {
  height: 75vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.friendsWrapper h2 {
  margin-top: 0;
}

.acceptedFriendsContainer {
  font-weight: bolder;
  font-family: arial;
  color: teal;
  font-size: 18px;
  margin: 2% 3%;
  grid-column: 1;
  grid-row: 1;
  border: solid 2px teal;
  width: 45vw;
  padding: 5px 10px;
  height: 36vh;
  overflow: auto;
  border-radius: 3vh;
  background-color: rgba(238, 238, 238, 0.8);
}

.pendingReqContainer {
  background-color: rgba(238, 238, 238, 0.8);
  margin: 2% 8%;
  grid-column: 2;
  grid-row: 1;
  font-weight: bolder;
  font-family: arial;
  color: teal;
  font-size: 18px;
  border: solid 2px teal;
  padding: 5px 10px;
  margin: 2% 2%;
  border: solid 2px teal;
  width: 41vw;
  padding: 0 5%;
  height: 38vh;
  overflow: auto;
  border-radius: 3vh;
}

.noFriendsContainer {
  font-weight: bolder;
  font-family: arial;
  color: teal;
  font-size: 18px;
  margin: 3% 2%;
  grid-column: 1/3;
  grid-row: 2;
  border: solid 2px teal;
  width: 93vw;
  padding: 5px 10px;
  height: 36vh;
  overflow: auto;
  border-radius: 3vh;
  background-color: rgba(238, 238, 238, 0.8);
  display: grid;
  grid-template-columns: 50% 50%;
}

.chatHeadline {
}

h2 {
  color: rgb(57, 91, 82);
  font-size: 40px;
  font-family: "Cookie", cursive;
  /* margin: 0; */
}

.acceptedFriends {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3% 0;
}

.pendingReq {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3% 0;
}

.noStatusUser {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 3% 0;
}

.friendsBtn {
  float: right;
  margin-right: 10%;
  vertical-align: middle;
  border-radius: 5vh;
  width: 33%;
  height: 35px;
  font-size: 15px;
  font-weight: 700px;
  background-color: teal;
}

.friendsBtn:hover {
  cursor: pointer;
  background-color: turquoise;
}

.loader {
  color: teal;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.onlineFriends {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5% 5%;
}

.profPicOnlineBox {
  height: 8vh;
  width: 8vh;
  overflow: hidden;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.profPicOnline {
  width: auto;
  max-height: 50px;
  align-self: center;
  justify-self: center;
}

.onlineNames {
  margin-left: 3%;
  font-size: 15px;
  font-family: arial;
}

.onlineUsersHeadline {
  /* text-align: center; */
  margin: 0 5%;
  font-family: "Cookie", cursive;
  font-size: 30px;
}

.onlineUserBox {
  background-color: rgba(238, 238, 238, 0.8);
  width: 20vw;
  height: 70vh;
  right: -21vw;
  position: absolute;
  border-radius: 3%;
  padding-top: 1%;
  color: teal;
  font-weight: bolder;
  z-index: 2;
  top: 0;
  overflow: scroll;
}

.chatBox {
  background-color: rgba(0, 128, 128, 0.8);
  border-radius: 3vh;
  border: 1px solid teal;
  height: 50vh;
  padding: 5px 5px;
  grid-row: 1;
  overflow: scroll;
}
.chatUserInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chatMsgs {
  display: grid;
  color: white;
  margin: 3% 3%;
}

.indChatMsg {
  margin: 10px 0px;
}

.chatPic img {
  width: 50px;
  height: 50px;
  justify-self: space-around;
}

.chatUser {
  font-size: 13px;
  margin: 0 10px;
}

.chatTime {
  color: white;
  font-style: italic;
  font-size: 12px;
}

.chatText {
  font-family: cookie, cursive;
  color: white;
  font-size: 30px;

  word-wrap: break-word;
}

.chatTextingPart {
  margin-top: 3vh;
  grid-row: 2;
  /* width: 465px; */
  /* justify-self: center; */
  display: flex;
  justify-content: space-evenly;
}

.chatBtn {
  height: 5vh;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bolder;
  background-color: teal;
}

.chatBtn:hover {
  cursor: pointer;
}

.chatTextBox {
  height: 20vh;
  width: 35vw;
  vertical-align: bottom;
  /* background-image: url(./ivy.png); */
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px 10px #000, 1px 1px 10px #000;
}

.chatWrapper {
  margin-top: 2vh;
  display: grid;
  grid-template-rows: 60% 40%;
  width: 50vw;
  position: absolute;
  left: 25vw;
}

.errmsg {
  font-size: 18px;
  color: red;
}

::-webkit-scrollbar {
  display: none;
}

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
